<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- 인터넷 권한 추가 -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".GlobalApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BottomNavigationViewTest"
        tools:targetApi="31">
        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="00c4d79d62c937febca56680acdb32fd"/>

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.BottomNavigationViewTest">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>
        </activity>

        <activity
            android:name=".RegisterActivity"
            android:exported="false"
            android:theme="@style/Theme.BottomNavigationViewTest" />
        <activity
            android:name=".login.LoginActivity"
            android:exported="true"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:host="oauth"
                    android:scheme="kakao00c4d79d62c937febca56680acdb32fd" />
            </intent-filter>
        </activity>
    </application>


</manifest>